{{#partial "title"}}Status{{/partial}}

{{#partial "content"}}

    <div class="jumbotron text-center">

        <h1>Status</h1>

    </div>



    <div class="container">
        <p>
            <a href="/oumodules/"> Home</a>
        </p>
    </div>


    <div class="container">

        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th scope="row">Current status</th>
                <td> {{status}}</td>
            </tr>
            <tr>
                <th scope="row">Number of OU modules</th>
                <td>{{number_of_modules}}</td>
            </tr>
            <tr>
                <th scope="row">Last updated</th>
                <td>{{last_updated}}</td>
            </tr>
            <tr>
                <th scope="row">Uptime (days) </th>
                <td>{{days}}</td>
            </tr>
            <tr>
                <th scope="row">Number of requests since start</th>
                <td>{{requests}}</td>
            </tr>

            </tbody>
        </table>

    </div>


{{/partial}}

{{> base.hbs}}